name: linting

on:
  push:
    branches:
      - devel
      - master
  pull_request:
    branches:
      - devel
      - master

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v4
      - name: Install dependencies
        run: |
          make install
      - name: Run linters
        env:
          NO_COLORS: true # Disable colors in ruff output
        run: |
          echo "::add-matcher::.github/matchers/ruff.json"
          echo "::add-matcher::.github/matchers/unbehead.json"
          uv run make lint
          echo "::remove-matcher owner=unbehead::"
          echo "::remove-matcher owner=ruff::"
